<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <p>Hello and welcome to my Data Science Portfolio. I am a student currently studying Data Science so I have created this portfolio to showcase my projects. 
          Feel free to explore this page view my work. Thank you!</p>
      </div>
    </div>
  </div>
</section>
