<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
      <div class="row">
        <div class="col-lg-4 text-center">
          <p>Hello and welcome to my Data Science Portfolio. I am a student currently studying Data Science so I have created this portfolio to showcase my projects. 
            Feel free to explore this page and view my work. Thank you!</p>
        </div>
      </div>
    </div>
  </div>
</section>
